@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@media screen and (max-width: 1024px) {
    #article 
    {
        width: 90%; }
    #article img {
        width: 70%;
    }
    h2 {
        font-size: .9em;
    }
    iframe {
        width: 90%;
    }
}

* {
    margin : 0;
    padding: 0;
}
header {
   text-align: center;
   font-weight: bolder;
   background-color: whitesmoke;
}

body {
    font-family: 'Montserrat';
    background-color: whitesmoke;
}

img {
    border-radius: 40%;
}
main {
    text-align: left;
}
#article {
    display: flex;
    justify-content: space-between;
    font-style: italic;
    text-align: center;
    border: solid darkslategrey;
    margin: .7rem;
}
section {
    width: 30%;
    background-color: lightslategray;
    margin: .7rem;
    text-align: center;  
}
#comp #par #exp {
    border: solid;
}
#article li {
    list-style: none;
    list-style-type: none;
}
footer {
    text-align: left;
    background-color: grey;
}
footer img {
    border-radius: 0%;
}

iframe {
    border: solid black;
    width: auto;

}
